 @import url('https://fonts.cdnfonts.com/css/cresing');

h1{
 font-family: 'Cresing', sans-serif;
                                                
}               
.logo{
    width: 100%;
}
header {
  background-color: #d84c75;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #e96b8e;
  border-radius: 999px;
  transition: background 0.3s;
}
nav ul li a:hover {
  background-color: #c94267;
}